/* Resetowanie podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Style nawigacji */
nav {
    background-color: #333;
    text-align: center; /* Wyśrodkowanie nawigacji */
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block; /* Centrowanie listy */
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white; /* Biały tekst dla linków */
    background: #333;
    padding: 0.8rem 1.5rem; /* Większe paddingi dla linków */
    display: inline-block;
    margin: 5px; /* Mała przerwa między linkami */
    border-radius: 5px; /* Zaokrąglenie rogów */
    font-size: 1.2em; /* Większa czcionka */
    transition: background 0.3s; /* Animacja tła */
}

nav a:hover,
nav a:focus {
    background: #555; /* Ciemniejsze tło przy najechaniu */
}

/* Style dla sekcji głównej */
main {
    padding: 2rem;
}

/* Style dla stopki */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Style dla kontenera */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.category-list {
    padding: 2rem;
}

.category-list li {
    margin-bottom: 1rem;
}

.category-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}
   border: none;
    padding: 0.8rem 1.5rem; /* Zwiększony padding dla większego przycisku */
    margin: 0.3rem;
    font-size: 1.2rem; /* Większy rozmiar czcionki */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-btn {
    border: none;
    padding: 1rem 2rem; /* Zwiększony padding dla większego przycisku */
    margin: 0.5rem; /* Większa przerwa między przyciskami */
    font-size: 1.4rem; /* Większy rozmiar czcionki */
    color: white;
    border-radius: 5px; /* Lekko większe zaokrąglenie rogów */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Dodanie animacji transformacji */
}

.category-btn:hover {
    background-color: #8fbc8f;
    transform: scale(1.05); /* Lekkie powiększenie przycisku przy najechaniu */
}

.category-btn.selected {
    background-color: #aaa; /* Wyszarzenie zaznaczonego przycisku */
    color: #333; /* Ciemniejszy tekst dla kontrastu */
}

/* Style dla pola tekstowego */
#commandOutput {
    width: 100%;
    padding: 0.8rem; /* Większy padding */
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.1rem; /* Większy rozmiar czcionki */
}
